@tailwind base;
@tailwind components;
@tailwind utilities;
.search-box{
  
  width: 36vw;
  background-color: white;
  height:5vh;
}
.search-box input{
  color: black;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  width: 92%;
  outline: none;
  background-color: transparent;
}
.navbarbox{
  background-color: rgb(2, 2, 40);
  color: white;
}
.loginform{
  border: 1px solid rgba(128, 128, 128, 0.492);
  border-radius: 9px;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.522);
  padding: 30px 15px;
}
.loginform input{
  border: 1px solid gray;
}
.nav-box2{
  background-color: rgba(4, 4, 55, 0.897);
  color: white;
}
.items-box{
  display: grid;
  padding: 10px 0;
  grid-template-columns: repeat(4,250px);
  gap: 30px;
  margin-top: 12px;
  background-color: rgba(128, 128, 128, 0.088);
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.371);
  padding: 18px 20px;
}
.itemsall{
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.511);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 14px 13px;
  gap: 6px;
  align-items: center;
}
.colorsbox{
  display: grid;
  grid-template-columns: repeat(8,60px);
  gap: 8px;
}
.cartbox{
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.337);
  padding: 13px 11px ;
}
.fliter-box{
  padding: 10px 10px;
}
.footerbox{
  background-color: rgb(2, 2, 40);
  height: 40vh;

}
.load{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.homegrid{
  display: grid;
  grid-template-columns: repeat(4,350px);
  justify-content: center;
  gap: 20px;
  padding: 30px 3px ;
}
.homegridbox{
  box-shadow: 0 0 10px gray;
  background-color: white;
}



.mainbox::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  height: 65%;
  background: linear-gradient(to bottom, transparent, rgb(249, 246, 246));
  pointer-events: none; /* This ensures the gradient overlay doesn't interfere with interactions */
}
.mainbox {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.imagescroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.image-container {
  flex-shrink: 0;
  width: 100vw; /* Ensure each image takes the full viewport width */
}

.imagescroll img {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.311);
 color: white;
  border: none;
 padding: 50px 5px;
  cursor: pointer;
  font-size: 45px;
  z-index: 10;
}

.left-arrow {
  left: 9px;
}

.right-arrow {
  right: 9px;
}

.mainbox::-webkit-scrollbar {
  height: 10px;
}

.mainbox::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.mainbox::-webkit-scrollbar-track {
  background: transparent;
}
.smallbox{
  display: grid;
  grid-template-columns: repeat(2,130px);
  gap: 20px;
  justify-content: center;
}
.smallbox div{

  
}
.smallbox div img{
  height: 7.4vw;
}